html{
    font-size: 62,5%
}
body{
    background-color: #FCF9F3;
    font-family: century, sans-serif;
    margin-left: auto;
    margin-right: auto;
   
}
#special {
        background-color: #6A8087;
        color: white;
        padding: 10px;
        width: 100%;
        background-image: url(../img/special-bg.png);
        background-position: left bottom;
        background-repeat: repeat-x;
}
.bold {
    font-weight: bold;
    text-align: center;
}
 
#wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#wrapper > * {
    flex-basis: 100%;
}

.navigation {
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
    border-bottom: solid #c7c2b7 0.5px;
    background-image: url(../img/grunge.png);
    justify-content: center;
    align-items: center;
}
.navigation > * {
    padding: 10px;
    flex-grow: 1;
    flex-basis: 0;
    text-align:center;
}
figure img{
    max-width: 100%;
}
.navigation .submenu {
    display: block;
}
#logo img{
    display: block;
}
#main {
    box-sizing: border-box; 
    float:left;
    max-width: 60%;
    height: auto;
    padding: 10px;
    margin: 5px;  
    font-size:16px; 
}
#main #pretzels img{
    float: left;
    width: 95%;
    padding: 10px;
}
#wrapper .sidebar{
    flex-basis: 33%;
    float: right;
}
.callout{
    max-width: 100%;
    flex-basis: 40%;
    border-radius: 10px;
    text-align: center;
    background-color: #F7EACB;
    padding: 10px;  
}
.callout p {
    display: block; 
}
.our-pretzels{
    padding: 10px;
}
ul {
    border-bottom: solid rgb(151, 139, 112) 0.5px;
    padding: 10px;
}
.sidebar ul {
    column-count: 2;
}
h1, p {
    padding-top: 10px;
    text-align: center;
}

footer{
    background-color: #f0e3ca;
    text-transform: uppercase;
    text-align: center;
    color: black;
    padding: 20px;
    opacity: 0.3;  
}
footer figure img {
    max-width: 100%;
    padding: 10px;
}


/*mobile*/
@media screen and (max-width:550px) {
    .navigation {
        text-align: center;
    }
    .navigation #logo {
        flex-basis: 100%;
    }
    .navigation #logo img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #wrapper #main {
        flex-basis: 100%;
        max-width: 100%;
    }
    #wrapper .sidebar {
        flex-basis:100%;
        max-width: 100%;
    }
}
/*tablet*/
@media screen and (min-width:551px) and (max-width: 880px) {
    #wrapper {
        flex-direction: column;
    }
    #wrapper #main {
        flex-basis: 100%;
        order: 1;
    }
    #wrapper .sidebar {
        order: 2;
        flex-basis: 100%;
        padding: 10px;
    }
    footer {
        order: 3;
    }
    
}