html{
    font-size: 62,5%
}
body{
    background-color: #FCF9F3;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
}
#special {
        background-color: #6A8087;
        color: white;
        padding: 10px;
        background-image: url(./images/special-bg.png);
        background-position: left bottom;
        background-repeat: repeat-x;
}
.bold {
    font-weight: bold;
}
 
#wrapper {
    /*font-family: 'Times New Roman', Times, serif ;
    font-size: 16px;
    background-repeat: repeat-x;
    background-image: url(../img/grunge.png);
    background-color: #f0e3ca;
    background-attachment: fixed;
    box-sizing: border-box;  
    width: 100%;*/
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#wrapper > * {
    flex-basis: 100%;
}

.navigation {
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
    border-bottom: solid black 0.5px;
    background-image: url(images/grunge.png);
    justify-content: center;
    align-items: center;
}
.navigation > * {
    padding: 10px;
    flex-grow: 1;
    flex-basis: 0;
}
figure img{
    max-width: 100%;
}
.navigation figure p{
    display: block;
}
#wrapper .main {
    flex-basis: 60%;
}
#logo img{
    display: block;
}
/*.ul1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: solid rgba(184, 170, 124, 0.829);
    width: 100%;
}
.ul1 > * {
    flex: 1;
    flex-grow: 1;
    flex-basis: 0;
}*/

.bold {
    font-weight: bold;
}
#main {
    box-sizing: border-box; 
    float:left;
    width: 60%;
    height: auto;
    padding: 10px;
    margin: 5px;  
    font-size:16px; 
}

#main #pretzels img{
    /*padding: 5px 0 5px 0;
    border-radius: 5px;
    max-width: 100%;
    height: auto;*/
    float: left;
    width: 95%;
    padding: 10px;

}
#sidebar{
    /* box-sizing: border-box; 
    float: left;
    width: 33%;
    padding: 10px;
    margin: 5px;
    height: auto; */
    flex-basis: 40%; 
}

.callout{
    
    border-radius: 10px;
    text-align: center;
    background-color: #F7EACB;
    padding: 20px;  
}
.our-pretzels{
    /* column-count: 2; 
    column-gap:20px;
    column-fill:auto;
    list-style:none; */
    padding: 10px;
}
ul {
    border-bottom: solid black 0.5px;
    padding: 10px;
}
.sidebar ul {
    column-count: 2;
}
h1, p {
    padding: 10px;
}

footer{
    /*clear: both;
    width: 960px;*/
    background-color: #f0e3ca;
    text-transform: uppercase;
    text-align: center;
    color: #C8C3BE;
    padding: 30px;
    opacity: 0.3;  
}
footer figure img {
    max-width: 100%;
    padding: 10px;
}


/*mobile*/
@media screen and (max-width:550px) {
    
}
/*tablet*/
@media screen and (min-width:551px) and (max-width: 880px) {
    #main {
        flex-basis: 100%;
    }
    #sidebar {
        flex-basis: 100%;
    }
    
}