html{
    font-size: 62.50%;
}
body{
    background-color: white;
}

#wrapper{
    margin-top: 50px;
    margin-left: 20px;
}

#eka{
    background-color: rgb(147, 216, 243);
    opacity: 0.5;
    width: 320px;
    height: 200px;
    position: absolute;
    z-index: -1;
    animation-duration: 4s;
    animation-name: bluecolor;
    top: -35px;
    left: 75px;
}

#toka{
    background-color: rgb(213, 235, 184);
    width: 100px;
    height: 150px;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    left: 170px;
    top: 110px;
    animation-name: greencolor;
    animation-duration: 4s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

#kolmas{
    border: solid 10px orange;
    border-radius: 10px;
    height: 200px;
    width: 440px;
    text-align: center;
}
h1{
    font-size: 24px;
    font-family: sans-serif;
    padding:5px;
    margin-top:55px;
}
#kappale1{
    font-size: 18px;
    font-family: monospace;
    letter-spacing: 1rem;
    padding: 5px;
    margin-right: -30px;
}

#kappale2{
    color: rgb(147, 216, 243);
    font-family: serif;
    letter-spacing: 1rem;
    margin-left: 40px;
    font-size: 20px;

}

#kappale2 .magenta{
    background-color: rgb(155, 66, 155);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding:10px;
}
figure, p{
    text-align: left;
    margin-left:50px;
    padding: 10px;
}

@keyframes bluecolor{
    0% {
        
        transform: translateY(-100%);
    }
    100% {
        
        transform: translateY(0);
    }
}
@keyframes greencolor{
    0% {
       
        visibility: hidden;        
        transform: translateX(-150%);
    }
    
    100%{
        
        visibility: visible;
        transform: translateX(0);        
    }
}