html{
    font-size:62.5%;
}
body{
    box-sizing: border-box;
    display: flex;
    flex-wrap:wrap;
    /*flex-direction: row-reverse;*/
}
.container{
    box-sizing: border-box;
    width: 400px;
    border: 10px black;
    border-radius: 5px;
    background-color: gainsboro;
    background: linear-gradient(45deg, white, gainsboro);
    padding: 1em;
}
.clearfix{
    overflow: auto;
}
.clearfix:after{
    visibility: hidden;
    content: "";
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
  }
.container .image{
    float: left;
    width: 30%;
    box-sizing: border-box;
}
.container .image img{
    padding: 5px;
    border: 1px solid;
    border-color: lightgray darkgray darkgray lightgray;
    background-color: white;
    box-shadow: darkgray 3px;
    max-width: 100%;
}
.container .heading{
    float: right;
    width: 70%;
    box-sizing: border-box;
}
.container .text{
    float: left;
    width: 70%;
    box-sizing: border-box;
}
.container .heading h1{
    font-size:1.5em
}
.container .text p{
    padding-bottom: 10px;
    font-size: 1.2em;
}
.reverse .heading{
    float: left;
    
}
.reverse .text{
    float: left;

}
.reverse .image{
    float: left;
}
.reverse .image img{
    float: left;
}


 @media screen and (max-width: 425px){
     body{
         margin: 0;
     }
     .container{
        margin: 0 0 inherit 0;
        width: 100%;
        min-width: 320px;
        padding:10px;
    }
}

