html{
    font-size:62.5%;
}
body{
    box-sizing: border-box;
    display: flex;
    flex-wrap:wrap;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 400px;
    border: 1px solid rgb(51, 46, 46) ;
    border-radius: 10px;
    background-color: gainsboro;
    background: linear-gradient(to bottom right, gainsboro, white);
    padding: 1em;
}
.grid-config{
    display: grid;  /* grid käyttöön */
    grid-gap: 1rem;  /* grid-solujen välit */
    grid-template-columns: 25% 75%; /* grid sarakeleveydet */
    grid-template-rows:auto; /* grid rivikorkeudet */
    grid-template-areas: /* nimettyjen alueiden sijoittaminen gridiin */
        "image heading"
        "image text";
    margin: 0 1rem 2rem 0;
}
.container .heading{
    grid-area: heading;
}
.container .heading h1{
    font-size:1.5em;
    padding: 10px; 
    font-weight: bold;
}
.container .image{
    grid-area: image;
}
.container img{
    border: 1px solid;
    border-color: lightgray darkgray darkgray lightgray;
    background-color: white;
    box-shadow: darkgray 3px;
    max-width: 100%;
    padding: 5px;
}
.container .text{
    grid-area: text;
}

.container .text p{
    padding-bottom: 10px;
    text-align: justify;
    font-size: 1.2em;
}
.reverse{
    grid-template-areas: 
    "heading image"
    "text image";
    grid-template-columns: 75% 25%;
}
.reverse .heading{
    float:left; 
}
.reverse .text{
    padding-right: 2px;
}
.reverse .image img{
    padding-right: 2px;
}
.reverse .text{
    float: right;
}
.reverse .image{
    float: right;
}
.reverse .image img{
    float: right;
}


 @media screen and (max-width: 425px){
     body{
         margin: 0;
     }
     .container{
        margin: 0 0 inherit 0;
        width: 100%;
        min-width: 320px;
        padding:10px;
    }
}

