
<form action="/action_page.php">
  <label for="fname">Search:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <br><br>
  <label for="phones">Sort by:</label>
  <br>
  <select id="phones" name="selectPhones">
    <option value="dell-streak">Newest</option>
    <option value="dell-venue">Alphabetically</option>
    <option value="droid-2-gl"></option>
    <option value="droid-pro"></option>
    <option value="motorola"></option>
    <option value="nexus"></option>
    <option value="samsung"></option>
<router-outlet></router-outlet>