html {
	font-size: 62,5%;
}
body {
	font-family: 'Courier New', Courier, monospace;
	max-width: 80rem;
	margin-left: auto;
	margin-right: auto;
}

section {
	background-color: #BBDDEE;
    margin-bottom: 10px;
}

.iso-q {
	float: left;
	font-size: 500%;
	width: 1.2em; /*1,2 x 50px = 60px*/
	text-align: center;
	padding: 0.1em 0.1em 0;
	background: #568;
	color: white;
	border: solid white 1px; 
	border-width: 0 0.2em 0.2em 0;
	margin: -1px 0.5em 0.2em 0px;
}
#eka h1 {
	font-weight: bold;
}
#toka{
	border: 1px solid black;
}
.suurennuslasi {
	border: 1px solid black;
    float: left;
    width: 100px;
    height: 70px;
    background: white;
    padding: 0 5px 5px 0;
	border-width: 1px;
    margin: -10px 0 0 -10px;
}
#toka h2{
	background-color: #718596;
    text-align: right;
    text-transform: lowercase;
    font-size: 150%;
    height: 20px;
	font-weight: bold;
	padding: 10px;
	margin: 0px;
}
#kolmas{
	border: 1px solid black;	
}
.box2 {
float: left;
width: 33%;
text-align: left;
font-size: 100%;
background-color: white;
padding: 1em;
color: black;
border: solid black 1px;
border-width: 1px 1px 1px 1px;
margin: -1px;
}

#kolmas h2 {
	background-color: #718596;
    text-align: right;
    text-transform: lowercase;
    font-size: 150%;
    height: 20px;
	font-weight: bold;
	padding: 10px;
	margin: 0px;
}

.box3{
	float: right;
    width: 25%;
    text-align: left;
    font-size: 140%;
    font-weight: bold;
    font-style: italic;
    padding: 1em;
    text-indent: -0.5em;
    background-color: white;
    color: black;
    border: solid black 1px;
    border-width: 1px 0 1px 1px;
    margin: 0.2em -1px 0.2em 0.5em;
}
#kolmas h3 {
	font-weight: bold;
}

ul {
	margin-left: 3rem;
	margin-bottom: 10px;
	list-style-type: circle;
}

pre{
	display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
}

