html{
    font-size: 62.5%
}
body{

    font-family: Arial, verdana, serif; 
    background-color:#74A252;
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
    padding: 10px;
}
.logo {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
.nav{
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    font-weight: bold;
}
.nav > * {
    flex: 1 1 0;
    flex-grow: 1;
    border: solid black 1px;
    color: white;
    background-color: #9DCD7C;
    padding: 10px;
    border-radius: 10px;
}
.nav li {
    display: list-item;
    text-align: -webkit-match-parent;
}
#boxes > * {
    flex-grow: 1;
    flex-basis: 33%;
}
#vision section{
    flex-grow: 2;
}
#visions > * {
    flex-grow: 1;
    flex-basis: 0;
}
figure img {
    max-width: 100%;
}
#vision{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #84C158;
    border: solid white 5px;
    display: none;
}
#vision p {
    text-align: center;
}
.mobile {
    display: block;
    text-align: center;
    padding: 10px;
}
#boxes {
    background-color: #74A252;
    display: flex;
    flex-direction: column;
    flex-basis: 100%; 
    padding: 5px 10px 0 10px;
}

#specials {
    background-color: white;
}

#specials h2{
    background-color: #e2dfdf;
    padding: 5px;
    border: solid white 4px;
}

figure {
    display: block;
    text-align: center;
    padding: 10px;
}
i {
    font-weight: 900;
    margin-left: 3em;
    font-size: 30px;
    height: 30px;
    vertical-align: middle;
    float: right;
}
#events {
    background-color: white;
   
}
#events h2{
    background-color: #e2dfdf;
    padding: 5px;
    border: solid white 4px;
}

#news {
    background-color: white;
   
}
#news h2{
    background-color: #e2dfdf;
    padding: 5px;
    border: solid white 4px;
}
.bold {
    font-weight: bold;
}
.smedia{
        float: right;
        font-size: 1.5rem;
        padding: 5px 10px 0 0;
}
footer {
    color: white;
    padding: 5px;
}
footer .citrus {
    padding: 5px 0 0 10px;
}
footer .address {
    padding: 2px 0 0 10px;
}
footer .phone-number {
    padding: 2px 0 10px 10px;
   color: black;
}
.fa-facebook-square:before{
    float: right;
}
.fab, .far {
    font-weight: 400;
}
.fa-chevron-right {
    float: right;
}
/*tablet*/
@media screen and (min-width: 426px){
    #logo img{
       display: block;
    }
    .nav {
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: center;
    }
    #vision {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        background-color: #ebe973fa;
        border: solid white 5px;
    }
    #vision > * {
        flex-grow: 1;
        flex-basis: 0;
    }
    .mobile {
        display: none;
    }
    #boxes {
            flex-direction: row;
            flex-wrap: wrap;
        }
         
    #boxes:first-child {
            flex-grow: 1;
            flex-basis: 50%;
              
        }
    #boxes:second-child {
            flex-grow: 1;
            flex-basis: 50%;
            
    }
    #boxes:third-child{
        flex-grow: 1; 
        flex-basis: 100%;
    }
    
}
/*desktop*/
@media screen and (min-width: 769px){
    .mobile {
    display: none;
    }


}

/*tabletti
 @media screen and (min-width: 426px) {
    #logo img{
        position: top left;
        max-width: 50%;
    }
    #vision {
        display: flex;
        flex-flow: row-reverse wrap;
        /*flex-direction: row ;
        flex-wrap: nowrap;
        background-color: #84C158;
        background-repeat: repeat-x repeat-y;
        justify-content: center;
        align-items:center;
        border: solid white 10px;
        border-width: 10px 0 10px 0;
    }
    #vision .p1 {
        font-size:14px;
        max-width: 50%;
        float: left;
    }
    #vision img{
        display: inline;
        max-width: 50%;
        border: solid white 5px;
        margin: 2px;
        flex-grow: 1;
        flex-basis: 0;
        position: right;
    }
    .nav ol{
       min-width: 425spx;
       display: inline;
    }
    .nav li{
        display: inline;
        padding: 5px;
        margin: 0px;
    }
    
    #vision section {
        flex-grow: 2;
        padding: 1rem;
        font-size: 1.8rem;
        flex-basis: 0;
        background-color: rgb(229, 229, 155);
    }
    .mobile{
    display: block;
    text-align: center;
    padding: 10px;
    }
 
    #specials{
    margin-top: 1 rem;
    }
    #boxes{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        flex-grow: 1;
        flex-basis:0;
        text-align: center;
    }
    .news1 {
        flex-basis: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
    }
    
    #specials{
        flex-basis: 0;
        flex-grow: 1;
        border-width: 0.8rem 0 0.8rem 0.8rem;
    }
    .tasty{
    display: block;
    text-align: center;
    padding: 10px;
    }
    #events{
        flex-basis: 0;
        flex-grow: 1;
    }
    
}

/*desktop
@media screen and(min-width: 725px) {
 #vision{
     border: solid white 10px;
     border-width: 10px 0 10px 0;
     font-size: 20px;
 }
 #news {
     flex-basis: 0;
 }
 #news > * {
    padding: 5px;
}
 #nav {
    flex-direction: row;
    flex-wrap: wrap;
}
}*/