body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #87c261;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
img {
  width: 100%;
}
.logo {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}
.nav {
  padding: 10px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  font-weight: bold;
}
.nav > * {
  flex: 1 1 0;
  flex-grow: 1;
  border: solid rgb(89, 126, 82) 1px;
  color: white;
  background-color: #9dcd7c;
  padding: 10px;
  border-radius: 10px;
}
.nav li {
  display: list-item;
  text-align: -webkit-match-parent;
}
#maincontent{
  display: flex;
  flex-direction: column;
  
}
#vision {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  display: none;  
}
#vision section {
  flex-grow: 2;
}
#visions > * {
  flex-grow: 1;
  flex-basis: 0;
}
#vision p {
  text-align: center;
}

.mobile {
  display: block;
  padding: 10px;
}

#boxes {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  border:10px solid #FFF;
}
#boxes > *{
  margin-bottom: 10px;
}
#boxes > *:last-child{
  margin-bottom: 0px;
}
#specials {
  background-color: white;
}

#specials > h2 {
  background-color: #e2dfdf;
  padding: 10px;
  margin-bottom: 10px;
  
}


figure {
  display: block;
  text-align: center;  
}

i {
  font-weight: 900;
  margin-left: 3em;
  font-size: 30px;
  height: 30px;
  vertical-align: middle;
  float: right;
}
#events {
  background-color: white;
}

#events h2 {
  background-color: #e2dfdf;
  padding: 10px;
  margin-bottom: 10px;
 
}

#news h2 {
  background-color: #e2dfdf;
  padding: 10px;
  margin-bottom: 10px;
}
.bold {
  font-weight: bold;
}
.smedia {
  float: right;
  font-size: 1.5rem;
  padding: 5px 10px 0 0;
}
footer {
  color: white;
  padding: 10px 5px 10px 5px;
}

footer .phone-number {
  color: black;
}

.fab,
.far,
.fa-chevron-right,
.fa-facebook-square:before {
  font-weight: 400;
  float: right;
}

/*tablet*/
@media screen and (min-width: 426px) {
  #logo img {
    display: block;
  }
  .nav {
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    padding-bottom: 5px;
  }
  #vision {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background: url("../img/sandclipart.jfif");
    border: 10px solid #FFF;
    margin-bottom: 10px;
  }
  #vision > * {
    flex-grow: 1;
    flex-basis: 0;
  }
  #vision img{
    width:100%;
  }
  #boxes {
    flex-direction: row;
    flex-wrap: wrap;    
  }
  #boxes > *{
    width: 50%;
  }
  #boxes > *:last-child{
    width: 100%;
  }
  #specials {
    margin-bottom: 10px;
  }
  #events {
    margin-bottom: 10px;
  }
  #specials > *{
    margin-right: 5px;
  } 
  #events > *{
    margin-left: 5px;
  } 
  .mobile {
    display: none;
  }
  
  #boxes img {
    width: 100%;
  }
}
/*desktop*/
@media screen and (min-width: 769px) {
  .mobile {
    display: none;
  }
  #nav {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #vision {
    font-size: 20px;
  }
  #boxes {
     flex-wrap: nowrap;
  }
  #boxes > * {
    flex-grow: 1;
    min-width: 33%;
    width: 33%;    
    margin-bottom: 0;
  }
  
  #boxes > * > *{
    margin-right: 10px;
    margin-left: 0;
  }
  #boxes > *:last-child > *{
    margin-right: 0px;
  }

 
}
